<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>Latihan VUE</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <!-- Our application root element -->
    <div id="app">
      <b-container>
        <b-jumbotron header="INSTAGRAM #Hashtag Finder"/>

        <b-form-group
          horizontal
          :label-cols="4"
          description="example : jkt48"
          label="Enter Hashtag"
        >
          <b-form-input v-model.trim="hashtag"></b-form-input>
        </b-form-group>
        <span v-if="hashtag.length>0">Find Instagram Post With #{{hashtag}}</span>
        <br/><br/>
        <button class="btn btn-primary" v-on:click="find">FIND</button>
      </b-container>
        <b-container>
        <table class="table table-bordered">
            <tr v-for="item in items">
                <td>{{ item.number }}</td>
                <td><img :src="item.image" style="height:250px"/></td>
                <td><span  v-html="item.message"></span></td>
            </tr>
        </table>
    </b-container>
    </div>

    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: '#app',
        data: {
            hashtag: '',
            items: [],
        },
        methods:{
            find: function(event){
                var self = this;
                this.items = [];
                this.hashtag = this.hashtag.length==0?'jkt48':this.hashtag
                this.hashtag = this.hashtag.replace('#','')
                axios
                    .get('https://www.instagram.com/explore/tags/'+this.hashtag+'/?__a=1')
                    .then(
                        function(response){
                            let ig_post = response.data.graphql.hashtag.edge_hashtag_to_media.edges;
                            number = 1;
                            for(let i = 0; i<ig_post.length;i++)
                            {
                                try {
                                    let message = ig_post[i].node.edge_media_to_caption.edges[0].node.text;
                                    message = message.replace(/#[a-z0-9A-Z]+/g, '<span style="color: #0069D9;">$&</span>');
                                    message = message.replace(/@[a-z0-9A-Z]+/g, '<span style="color: #0069D9;">$&</span>');  
                                    let content = {
                                        number: number,
                                        message: message,
                                        image : ig_post[i].node.thumbnail_src,
                                    };
                                    self.items.push(content); 
                                    number++;
                                }
                                catch(err) {
                                
                                }
                                
                            }
                        }
                    )
            }
        },
      })
    </script>
  </body>
</html>